<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Submit Feedback</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
<div class="container mt-5">
<h1>Submit Your Feedback</h1>
<form action="/submitFeedback" method="post" th:object="${feedback}">
    <div>
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}" required />
    </div>
    <br/>
    <div>
        <label for="bookName">Book Name:</label>
        <input type="text" id="bookName" name="bookName" th:field="*{bookName}" required />
    </div>
    <br/>
    <div>
        <label for="feedbackText">Feedback:</label>
        <textarea id="feedbackText" name="feedbackText" th:field="*{feedbackText}"
                  rows="5" cols="30" required></textarea>
    </div>
    <br/>

    <button type="submit">Submit</button>

</form>
</div>
</body>
</html>